<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lj.dao.mapper.RoleModuleMapper" >
  <resultMap id="BaseResultMap" type="com.example.lj.dao.entity.RoleModule" >
    <id column="RoleID" property="roleID" jdbcType="VARCHAR" />
    <id column="ModuleID" property="moduleID" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    RoleID, ModuleID
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from rolemodule
    where RoleID = #{roleID,jdbcType=VARCHAR}
      and ModuleID = #{moduleID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.lj.dao.entity.RoleModule" >
    insert into rolemodule (RoleID, ModuleID)
    values (#{roleID,jdbcType=VARCHAR}, #{moduleID,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.lj.dao.entity.RoleModule" >
    insert into rolemodule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleID != null" >
        RoleID,
      </if>
      <if test="moduleID != null" >
        ModuleID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleID != null" >
        #{roleID,jdbcType=VARCHAR},
      </if>
      <if test="moduleID != null" >
        #{moduleID,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByRole" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from rolemodule
    where RoleID = #{roleID,jdbcType=VARCHAR}
  </select>

</mapper>