<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>王瑶</title>
<link type="text/css" rel="styleSheet" href="css/in.css" />
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
</head>
<body>
	<!-- head开始 -->
	<div class="head-pa">
		<div class="head">
			<div class="head-left"></div>
			<div class="head-center">
				<a href="javascript:;">哈哈哈</a> <a href="javascript:;">--</a> <a
					href="javascript:;">---</a> <a href="javascript:;">--</a> <a
					href="javascript:;">S--S</a> <a href="javascript:;">--</a>
				<a href="javascript:;">---</a> <a href="javascript:;">--</a> <a
					href="javascript:;">--</a>






			</div>
			<div class="head-right">
				<a class="head-right-a"> <i class="fa fa-user"></i></a> <a
					class="head-right-a"> <i id="buy-car"
					class="fa fa-cart-arrow-down"></i></a> <a class="math">0</a>




				<div class="head-right-buycar" id="car-car">
					<h1>空空如也</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- head结束 -->
	<!-- 导航开始 -->
	</div>
	<!-- /*导航1开始*/ -->
	<div class="tobar-pa-fixed" id="tobar-pa1">
		<div class="tobar1">

			<div class="tobar-left1">
				<ul>
					<li class="lifont"><a href="javascript:;">首页</a></li>
					<li><a href="javascript:;">--</a></li>
					<li><a href="javascript:;">--</a></li>
					<li><a href="javascript:;">--</a></li>
					<li><a href="javascript:;">--</a></li>
					<li><a href="javascript:;">--</a></li>
					<li><a href="javascript:;">--</a></li>
					<li><a href="javascript:;">--</a></li>
					<li><a href="javascript:;">--</a></li>



				</ul>
			</div>
			<!--  -->
			
			<!--  -->
			<div class="tobar-right1">

				<a class="tobar-right1-a"> <i class="fa fa-user"></i></a> <a
					class="tobar-right1-a"> <i id="buy-car1"
					class="fa fa-cart-arrow-down"></i></a> <a class="math">0</a>
					<div class="head-right-buycar1" id="car-car1">
					<h1>空空如也</h1>
				</div>

			</div>
		</div>
	</div>
	<!-- /*导航1结束*/ -->
	<div class="tobar-pa" id="tobar-pa">
		<div class="tobar">

			<div class="tobar-left">
				<ul>
					<li class="lifont"><a href="javascript:;">首页</a></li>
					<li><a href="javascript:;">---</a></li>
					<li><a href="javascript:;">---</a></li>
					<li><a href="javascript:;">---</a></li>
					<li><a href="javascript:;">---</a></li>
					<li><a href="javascript:;">---</a></li>
					<li><a href="javascript:;">---</a></li>
					<li><a href="javascript:;">---</a></li>
					<li><a href="javascript:;">---</a></li>



				</ul>
			</div>
			<div class="tobar-right">
				<form class="tobar-right-form">
					<input class="search-box " id="js_searchText" maxlength="30"
						name="searchText" type="text" placeholder="">
					<button class="search-btn " type="submit">
						<i class="fa fa-search"></i>
					</button>
					<div class="search-recommend-words">
						<a href="javascript:;" style="background-color: #E5EFFF">---</a>
						<a href="javascript:;">----</a>
					</div>

				</form>
				<div class="tobar-right-search-text" id="tobar-right-search-text">
					<ul class="tobar-right-search-text-u">
						<li>葡萄</li>
						<li>我爱你</li>
						<li>还有</li>
						<li>中秋</li>
						<li>和月饼</li>
						<li>移动电源</li>
						<li>T恤</li>
						<li>帆布鞋</li>
						<li>手套</li>
						<li>口罩</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 导航结束 -->
	<!-- 图片轮播开始 -->
	<div class="img-container-pa">
		<div class="img-container">
			<img class="img-container-img" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/1.JPG " id="img"  width=600px height=400px />
			<a class="img-container-img-one img-container-img-kk" id="imga1"
				href="javascript:;"></a>
			<a class="img-container-img-two img-container-img-kk" id="imga2"
				href="javascript:;"></a>
			<!--  <a class="img-container-img-three img-container-img-kk" id="imga2" href="javascript:;"></a>
			 <a class="img-container-img-four img-container-img-kk" id="imga2" href="javascript:;"></a> -->
		</div>
	</div>
	<!--图片轮播结束  -->
	<!-- 第二部分开始 -->
	<div class="cintainer-two">
		<div class="cintainer-two-cont">
			<div class="cintainer-two-cont-1">
				<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/2.JPG"> <a href="javascript:;"></a>
			</div>
			<div class="cintainer-two-cont-1">
				<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/3.JPG"> <a href="javascript:;"></a>
			</div>
			<div class="cintainer-two-cont-1">
				<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/4.JPG"> <a href="javascript:;"></a>
			</div>
			<div class="cintainer-two-cont-1">
				<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/5.JPG"> <a href="javascript:;"></a>
			</div>
		</div>
	</div>
	<!--第二部分结束  -->
	<!--热门商品开始  -->
	<div class="home-box">
		<div class="home-box-cont">
			<header class="storey-title">
				<h5 class="title">--</h5>
				<div class="home-page">
					<a href="javascript:;" class="decortion1" id="load1"></a> <a
						href="javascript:;" class="decortion2" id="load2"></a>
				</div>
			</header>
			<div class="eight-img" id="famouse-img1">
				<div class="img-four">
					<p class="img-four-p">--</p>
					<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/6.JPG"> <a class="img-four-a"
						href="javascript:;"></a>
					<p class="desc">--</p>
					<div style="margin-left: 35%;">
						<a class="img-four-dec" style="background-color: #B5E61D;"
							href="javascript:;"></a> <a class="img-four-dec"
							style="background-color: #229B9F;" href="javascript:;"></a> <a
							class="img-four-dec" style="background-color: #E6771D;"
							href="javascript:;"></a> <a class="img-four-dec"
							href="javascript:;"></a>
					</div>
				</div>
				<div class="img-four">
					<p class="img-four-p">--</p>
					<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/7.JPG"> <a class="img-four-a"
						href="javascript:;"></a>
					<p class="desc">--</p>
					<div style="margin-left: 35%;">
						<a class="img-four-dec" style="background-color: #B5E61D;"
							href="javascript:;"></a> <a class="img-four-dec"
							style="background-color: #229B9F;" href="javascript:;"></a> <a
							class="img-four-dec" style="background-color: #E6771D;"
							href="javascript:;"></a> <a class="img-four-dec"
							href="javascript:;"></a>
					</div>
				</div>

				<div class="img-four">
					<p class="img-four-p">--</p>
					<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/8.JPG"> <a class="img-four-a"
						href="javascript:;"></a>
					<p class="desc">--</p>
					<div style="margin-left: 35%;">
						<a class="img-four-dec" style="background-color: #B5E61D;"
							href="javascript:;"></a> <a class="img-four-dec"
							style="background-color: #229B9F;" href="javascript:;"></a> <a
							class="img-four-dec" style="background-color: #E6771D;"
							href="javascript:;"></a> <a class="img-four-dec"
							href="javascript:;"></a>
					</div>
				</div>
				<div class="img-four">
					<p class="img-four-p">--</p>
					<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/9.JPG"> <a class="img-four-a"
						href="javascript:;"></a>
					<p class="desc">--</p>
					<div style="margin-left: 35%;">
						<a class="img-four-dec" style="background-color: #B5E61D;"
							href="javascript:;"></a> <a class="img-four-dec"
							style="background-color: #229B9F;" href="javascript:;"></a> <a
							class="img-four-dec" style="background-color: #E6771D;"
							href="javascript:;"></a> <a class="img-four-dec"
							href="javascript:;"></a>
					</div>

				</div>
				<div class="img-four">
					<p class="img-four-p">--</p>
					<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/10.JPG"> <a class="img-four-a"
						href="javascript:;"></a>
					<p class="desc">--</p>
					<div style="margin-left: 35%;">
						<a class="img-four-dec" style="background-color: #B5E61D;"
							href="javascript:;"></a> <a class="img-four-dec"
							style="background-color: #229B9F;" href="javascript:;"></a> <a
							class="img-four-dec" style="background-color: #E6771D;"
							href="javascript:;"></a> <a class="img-four-dec"
							href="javascript:;"></a>
					</div>

				</div>
			</div>
			<!--  1-->
			<div class="eight-img1" id="famouse-img2">
				<div class="img-four">
					<p class="img-four-p">--</p>
					<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/11.JPG"> <a class="img-four-a"
						href="javascript:;"></a>
					<p class="desc">---</p>
					<div style="margin-left: 35%;">
						<a class="img-four-dec" style="background-color: #B5E61D;"
							href="javascript:;"></a> <a class="img-four-dec"
							style="background-color: #229B9F;" href="javascript:;"></a> <a
							class="img-four-dec" style="background-color: #E6771D;"
							href="javascript:;"></a> <a class="img-four-dec"
							href="javascript:;"></a>
					</div>
				</div>
				<div class="img-four">
					<p class="img-four-p">--</p>
					<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/12.JPG"> <a class="img-four-a"
						href="javascript:;"></a>
					<p class="desc">--</p>
					<div style="margin-left: 35%;">
						<a class="img-four-dec" style="background-color: #B5E61D;"
							href="javascript:;"></a> <a class="img-four-dec"
							style="background-color: #229B9F;" href="javascript:;"></a> <a
							class="img-four-dec" style="background-color: #E6771D;"
							href="javascript:;"></a> <a class="img-four-dec"
							href="javascript:;"></a>
					</div>
				</div>

				<div class="img-four">
					<p class="img-four-p">--</p>
					<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/13.JPG"> <a class="img-four-a"
						href="javascript:;"></a>
					<p class="desc">----</p>
					<div style="margin-left: 35%;">
						<a class="img-four-dec" style="background-color: #B5E61D;"
							href="javascript:;"></a> <a class="img-four-dec"
							style="background-color: #229B9F;" href="javascript:;"></a> <a
							class="img-four-dec" style="background-color: #E6771D;"
							href="javascript:;"></a> <a class="img-four-dec"
							href="javascript:;"></a>
					</div>
				</div>
				<div class="img-four">
					<p class="img-four-p">--</p>
					<img alt="" src="https://lijunqaq.oss-cn-shenzhen.aliyuncs.com/wy/wy/2.JPG"> <a class="img-four-a"
						href="javascript:;"></a>
					<p class="desc">---</p>
					<div style="margin-left: 35%;">
						<a class="img-four-dec" style="background-color: #B5E61D;"
							href="javascript:;"></a> <a class="img-four-dec"
							style="background-color: #229B9F;" href="javascript:;"></a> <a
							class="img-four-dec" style="background-color: #E6771D;"
							href="javascript:;"></a> <a class="img-four-dec"
							href="javascript:;"></a>
					</div>

				</div>

			</div>
			<!--  1-->
		</div>
	</div>
	<!--  -->

	<!--热门商品结束  -->
	<!-- 电视开始 -->
	<!--<div class="tv-cont">-->
		<!--<div class="home-box-cont">-->
			<!--<header class="storey-title">-->
				<!--<h5 class="title">TNT工作站及官方配件</h5>-->
			<!--</header>-->
			<!--<div class="home-box-cont-img">-->
				<!--<div class="home-box-cont-img-left">-->
					<!--<img src="img/1.png">-->
				<!--</div>-->
				<!--<div class="home-box-cont-img-right">-->
					<!--<div class="home-box-cont-img-right-left">-->
						<!--<p class="img-four-ppp">直降</p>-->
						<!--<img alt="" src="img/aa8.jpg"> -->
						<!--<a class="img-four-a" href="javascript:;"></a>-->
						<!--<p class="desch">全索尼相机，骁龙660 AIE处理器</p>-->
						<!--<div style="margin-left: 35%;">-->
							<!--<a class="img-four-dec" style="background-color: #B5E61D;"-->
								<!--href="javascript:;"></a> <a class="img-four-dec"-->
								<!--style="background-color: #229B9F;" href="javascript:;"></a> <a-->
								<!--class="img-four-dec" style="background-color: #E6771D;"-->
								<!--href="javascript:;"></a> <a class="img-four-dec"-->
								<!--href="javascript:;"></a>-->
						<!--</div>-->
						<!--</div>-->
						<!--<div class="home-box-cont-img-right-right">-->
								<!--<p class="img-four-ppp">直降</p>-->
						<!--<img alt="" src="img/aa6.jpg"> <a class="img-four-a"-->
							<!--href="javascript:;"></a>-->
						<!--<p class="desch">全索尼相机，骁龙660 AIE处理器</p>-->
						<!--<div style="margin-left: 35%;">-->
							<!--<a class="img-four-dec" style="background-color: #B5E61D;"-->
								<!--href="javascript:;"></a> <a class="img-four-dec"-->
								<!--style="background-color: #229B9F;" href="javascript:;"></a> <a-->
								<!--class="img-four-dec" style="background-color: #E6771D;"-->
								<!--href="javascript:;"></a> <a class="img-four-dec"-->
								<!--href="javascript:;"></a>-->
						<!--</div>-->
						<!--</div>-->


			<!--</div>-->

		<!--</div>-->
					<!--<div class="home-box-cont-one">-->
							<!--<p class="img-four-ppp">直降</p>-->
							<!--<img alt="" src="img/aa3.jpg"> <a class="img-four-a"-->
							<!--href="javascript:;"></a>-->
							<!--<p class="desch">全索尼相机，骁龙660 AIE处理器</p>-->
								<!--<div style="margin-left: 35%;">-->
							<!--<a class="img-four-dec" style="background-color: #B5E61D;"-->
								<!--href="javascript:;"></a> <a class="img-four-dec"-->
								<!--style="background-color: #229B9F;" href="javascript:;"></a> <a-->
								<!--class="img-four-dec" style="background-color: #E6771D;"-->
								<!--href="javascript:;"></a> <a class="img-four-dec"-->
								<!--href="javascript:;"></a>-->
						<!--</div>-->
					<!---->
					<!---->
					<!--</div>-->
					<!--<div class="home-box-cont-two">-->
								<!--<p class="img-four-ppp">直降</p>-->
								<!--<img alt="" src="img/aa5.jpg"> <a class="img-four-a"-->
									<!--href="javascript:;"></a>-->
								<!--<p class="desch">全索尼相机，骁龙660 AIE处理器</p>-->
								<!--<div style="margin-left: 35%;">-->
								<!--<a class="img-four-dec" style="background-color: #B5E61D;"-->
								<!--href="javascript:;"></a> <a class="img-four-dec"-->
								<!--style="background-color: #229B9F;" href="javascript:;"></a> <a-->
								<!--class="img-four-dec" style="background-color: #E6771D;"-->
								<!--href="javascript:;"></a> <a class="img-four-dec"-->
								<!--href="javascript:;"></a>-->
					<!---->
					<!--</div>-->
					<!--</div>-->
					<!--<div class="home-box-cont-three">-->
								<!--<p class="img-four-ppp">直降</p>-->
								<!--<img alt="" src="img/aa1.jpg"> <a class="img-four-a"-->
								<!--href="javascript:;"></a>-->
								<!--<p class="desch">全索尼相机，骁龙660 AIE处理器</p>-->
								<!--<div style="margin-left: 35%;">-->
								<!--<a class="img-four-dec" style="background-color: #B5E61D;"-->
								<!--href="javascript:;"></a> <a class="img-four-dec"-->
								<!--style="background-color: #229B9F;" href="javascript:;"></a> <a-->
								<!--class="img-four-dec" style="background-color: #E6771D;"-->
								<!--href="javascript:;"></a> <a class="img-four-dec"-->
								<!--href="javascript:;"></a>-->
								<!--</div>-->
					<!--</div>-->
					<!--<div class="home-box-cont-four">-->
								<!--<p class="img-four-ppp">直降</p>-->
								<!--<img alt="" src="img/aa2.jpg"> <a class="img-four-a"-->
								<!--href="javascript:;"></a>-->
								<!--<p class="desch">全索尼相机，骁龙660 AIE处理器</p>-->
								<!--<div style="margin-left: 35%;">-->
								<!--<a class="img-four-dec" style="background-color: #B5E61D;"-->
								<!--href="javascript:;"></a> <a class="img-four-dec"-->
								<!--style="background-color: #229B9F;" href="javascript:;"></a> <a-->
								<!--class="img-four-dec" style="background-color: #E6771D;"-->
								<!--href="javascript:;"></a> <a class="img-four-dec"-->
								<!--href="javascript:;"></a>-->
								<!--</div>-->
					<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!-- 电视结束 -->
</body>
<script type="text/javascript" src="js/index5.js"></script>
</html>